@import "../../../assets/scss/variables.scss";

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;

  .title {
    margin: 0;
    font-size: 1.8rem;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .list__item {
      color: $orange-color;
      font-weight: 500;
    }
    
    .logout {
      cursor: pointer;
    }
  }
}

.title__orange {
  color: $orange-color;
}

.cart {
  font-size: 1.4rem;
}

.item__phone {
  margin-left: 10px;
  padding: 10px 16px;

  background-color: $orange-color;
  color: $white-color;
}
