@import "./assets/scss/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Sora", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}

.ngx__dropzone--wrapper {
  justify-content: center;
}

.error {
  color: $red-color;
}

.cdk-overlay-container {
  position: absolute;
  top: 80px;
  right: 0;
}

.mat-accent {
  background-color: $brown-color;
  color: $white-color;
  border-radius: 4px;
}
