@import "../../assets/scss/variables.scss";

.header {
  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;

  .title > .title__orange {
    color: $orange-color;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0;
    font-size: 1.8rem;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .list__item {
      color: $orange-color;
      font-weight: 500;
    }
  }
}

.item__phone {
  background-color: $orange-color;
  color: $white-color;
  padding: 10px 16px;
  margin-left: 30px;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}
