<header class="header">
  <nav class="header__navigation nav">
    <h2 class="header__title title">
      Food<span class="title__orange">Time</span>
    </h2>
    <ul class="header__list list">
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Home
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          About Us
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Explore Foods
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Reviews
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          FAQ
        </a>
      </li>
      <li class="header__list--item item__phone">
        1800 789 123
      </li>
    </ul>
  </nav>
  <section class="header__section">
    <article class="header__article article">
      <h1 class="header__section--title title">
        Order food from favourite restaurants near you.
      </h1>
      <p class="header__section--paragraph paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam et purus a odio finibus bibendum amet leo.
      </p>
      <button class="header__section--button button order">
        Order Now
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </button>
      <button class="header__section--button button more">
        Learn More
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </article>
    <img class="header__img" src="../../assets/images/main-dish.png" alt="Food Bowl" />
  </section>
</header>
<section class="section__savings savings">
  <ul class="savings__list list">
    <li class="savings__list--item item">
      <h2 class="savings__title--big title big">
        1287+
      </h2>
      <h4 class="savings__title--small title small">
        Savings
      </h4>
    </li>
    <li class="savings__list--item item">
      <h2 class="savings__title--big title big">
        5786+
      </h2>
      <h4 class="savings__title--small title small">
        Savings
      </h4>
    </li>
    <li class="savings__list--item item">
      <h2 class="savings__title--big title big">
        1440+
      </h2>
      <h4 class="savings__title--small title small">
        Savings
      </h4>
    </li>
    <li class="savings__list--item item">
      <h2 class="savings__title--big title big">
        7110+
      </h2>
      <h4 class="savings__title--small title small">
        Savings
      </h4>
    </li>
  </ul>
</section>
<section class="section__benefits">
  <article class="benefits__article article__breakfast">
    <img class="benefits__img breakfast" src="../../assets/images/breakfast.png" alt="breakfast">
    <aside class="benefits__aside aside">
      <h2 class="benefits__title title">
        We pride ourselves on making real food from the best ingredients.
      </h2>
      <p class="benefits__paragraph paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam et purus a odio finibus bibendum amet leo.
      </p>
      <a class="benefits__link link more" href="/#">
        Learn More
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </aside>
  </article>
  <article class="benefits__article article__burger">
    <aside class="benefits__aside aside">
      <h2 class="benefits__title title">
        We make everything by hand with the best possible ingredients.
      </h2>
      <p class="benefits__paragraph paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio
        finibus bibendum in sit amet leo.
        Mauris feugiat erat tellus.Far far away, behind the word mountains, far from the
        countries Vokalia and
        Consonantia, there live the blind texts.
      </p>
      <ul class="benefits__list checks">
        <li class="benefits__list--item item">
          <fa-icon class="check__icon" [icon]="faCheck"></fa-icon>
          Etiam sed dolor ac diam volutpat.
        </li>
        <li class="benefits__list--item item">
          <fa-icon class="check__icon" [icon]="faCheck"></fa-icon>
          Etiam sed dolor ac diam volutpat.
        </li>
        <li class="benefits__list--item item">
          <fa-icon class="check__icon" [icon]="faCheck"></fa-icon>
          Etiam sed dolor ac diam volutpat.
        </li>
      </ul>
      <a class="benefits__link link more" href="/#">
        Learn More
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </aside>
    <img class="benefits__img burger" src="../../assets/images/burger.png" alt="burger">
    <img class="benefits__img tree__leaves" src="../../assets/images/tree-leaves.png" alt="tree leaves">
  </article>
</section>
<section class="section__story">
  <img class="story__img img" src="../../assets/images/food-collage.png" alt="food collage">
  <article class="section__story--article article">
    <h2 class="story__article--title title">
      When a man's stomach is full it makes no
      difference whether he is rich or poor.
    </h2>
    <p class="story__article--paragraph paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio
      finibus bibendum in sit amet leo. Mauris feugiat erat tellus.
    </p>
    <a class="story__article--link link" href="https://www.youtube.com/">
      <fa-icon class="play__circle" [icon]="faPlayCircle"></fa-icon>
      Watch Our Story
    </a>
  </article>
</section>
<section class="section__foods">
  <article class="foods__article article">
    <h2 class="foods__base--title base__title">
      Explore Our Foods
    </h2>
    <summary class="foods__summary summary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio
      finibus bibendum in sit amet leo. Mauris feugiat erat tellus. Far far away, behind
      the word mountains, far from the countries Vokalia and Consonantia, there live the blind
      texts. Separated they live in Bookmarksgrove.
    </summary>
  </article>
  <div class="foods__wrappers">
    <article class="foods__item item">
      <img src="../../assets/images/dinner-with-wine.png" alt="dish">
      <h4 class="foods__dish--title title">
        Rainbow Vegetable Dish
      </h4>
      <h4 class="foods__dish--time time">
        Time: 15 - 20 Minutes | Serves: 1
      </h4>
      <section class="foods__prices prices">
        <span class="foods__discount--price discount__price">
          $10.50
        </span>
        <span class="foods__price--normal price__normal">
          $11.70
        </span>
      </section>
      <hr class="foods__hr hr">
      <a href="/#" class="foods__order--link order__link">
        Order Now
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </a>
    </article>
    <article class="foods__item item">
      <img src="../../assets/images/healthy-salad.png" alt="dish">
      <h4 class="foods__dish--title title">
        Rainbow Vegetable Dish
      </h4>
      <h4 class="foods__dish--time time">
        Time: 15 - 20 Minutes | Serves: 1
      </h4>
      <section class="foods__prices prices">
        <span class="foods__discount--price discount__price">
          $9.20
        </span>
        <span class="foods__price--normal price__normal">
          $11.70
        </span>
      </section>
      <hr class="foods__hr hr">
      <a href="/#" class="foods__order--link order__link">
        Order Now
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </a>
    </article>
    <article class="foods__item item">
      <img src="../../assets/images/second-dish.png" alt="dish">
      <h4 class="foods__dish--title title">
        Rainbow Vegetable Dish
      </h4>
      <h4 class="foods__dish--time time">
        Time: 15 - 20 Minutes | Serves: 1
      </h4>
      <section class="foods__prices prices">
        <span class="foods__discount--price discount__price">
          $12.50
        </span>
        <span class="foods__price--normal price__normal">
          $15.70
        </span>
      </section>
      <hr class="foods__hr hr">
      <a href="/#" class="foods__order--link order__link">
        Order Now
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </a>
    </article>
  </div>
</section>
<section class="section__testemonials">
  <h2 class="testemonials__title base__title">
    Testimonials
  </h2>
  <article class="testemonials__article article">
    <img src="../../assets/images/first-testemonial.png" alt="person img">
    <p class="testemonials__opinion opinion">
      "Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind
      texts Separated they live."
    </p>
    <h4 class="testemonials__person--name name">
      Chiranjit Hazarika - Web Designer
    </h4>
  </article>
  <span class="testemonials__circles">
    <fa-icon class="test__circle dark" [icon]="faCircle"></fa-icon>
    <fa-icon class="test__circle" [icon]="faCircle"></fa-icon>
    <fa-icon class="test__circle" [icon]="faCircle"></fa-icon>
  </span>
</section>
<section class="section__faq">
  <h2 class="faq__base--title base__title">
    Frequently Asked Questions
  </h2>
  <div class="faq__wrapper">
    <article class="faq__article article">
      <h4 class="faq__title title">
        <span class="faq__tilde--symbol tilde">~</span>
        Is Foodera Bread really baked fresh each day?
      </h4>
      <p class="faq__paragraph paragraph">
        Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia,there live the blind texts. Separated they live in Bookmarksgrove
        right at the coast of the Semantics, a large language.
      </p>
    </article>
    <article class="faq__article article">
      <h4 class="faq__title title">
        <span class="faq__tilde--symbol tilde">~</span>
        Do you bake breads containing animal fats or products?
      </h4>
      <p class="faq__paragraph paragraph">
        Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia,there live the blind texts. Separated they live in Bookmarksgrove
        right at the coast of the Semantics, a large language.
      </p>
    </article>
    <article class="faq__article article">
      <h4 class="faq__title title">
        <span class="faq__tilde--symbol tilde">~</span>
        Can I order your products online?
      </h4>
      <p class="faq__paragraph paragraph">
        Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia,there live the blind texts. Separated they live in Bookmarksgrove
        right at the coast of the Semantics, a large language.
      </p>
    </article>
    <article class="faq__article article">
      <h4 class="faq__title title">
        <span class="faq__tilde--symbol tilde">~</span>
        When are you opening a shop near me?
      </h4>
      <p class="faq__paragraph paragraph">
        Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia,there live the blind texts. Separated they live in Bookmarksgrove
        right at the coast of the Semantics, a large language.
      </p>
    </article>
  </div>
</section>
<section class="section__baked baked">
  <h2 class="section__baked--title title">
    Baked fresh daily by bakers with passion.
  </h2>
  <a class="section__baked--link link" href="/#">
    Learn More
  </a>
</section>
<section class="section__subscription">
  <div class="subscription__wrapper">
    <h2 class="subscription__title title">
      Hurry up! Subscribe for our newsletter and get 25% off.
    </h2>
    <p class="subscription__paragraph paragraph">
      Limited time offer for this month. No credit card required.
    </p>
    <form method="POST" class="subscription__form form">
      <input class="subscription__input input" type="text" name="address" id="address" placeholder="Email Address Here">
      <button class="subscription__button button">
        Subscribe
      </button>
    </form>
  </div>
</section>
<app-footer></app-footer>
