@import "../../assets/scss/variables.scss";

.header {
  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;

  .title > .title__orange {
    color: $orange-color;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0;
    font-size: 1.8rem;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .list__item {
      color: $orange-color;
      font-weight: 500;
    }
  }
}

.item__phone {
  margin-left: 30px;
  padding: 10px 16px;

  background-color: $orange-color;
  color: $white-color;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;

  .header__img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
}

.header__article {
  width: 480px;

  .title {
    font-size: 2.4rem;
    word-spacing: 2px;
  }

  .paragraph {
    margin: 30px 0;
    color: $gray-color;
    line-height: 1.8;
  }

  .button {
    width: 145px;
    height: 40px;

    font-weight: bold;
    letter-spacing: 1px;

    border: none;
    border-radius: 2px;
  }

  .button.order {
    background-color: $orange-color;
    color: $white-color;
  }

  .button.more {
    margin-left: 30px;
    background-color: $white-color;
    box-shadow: 0px 0px 6px 0px $gray-color;
  }
}

.section__savings {
  display: flex;
  align-items: center;

  height: 130px;
  padding: 20px;

  background-color: $orange-color;
  color: $white-color;
}

.savings__list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 1000px;
}

.section__benefits {
  max-width: $primary-width;
  margin: 100px auto;

  .article__breakfast {
    margin-bottom: 100px;
  }
}

.benefits__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  .breakfast {
    width: 620px;
    height: 350px;
    border-radius: 6px;
    object-fit: cover;
  }

  .burger {
    width: 630px;
    height: 620px;
    border-radius: 6px;
    object-fit: cover;
  }
}

.benefits__aside {
  width: 400px;

  .paragraph {
    margin: 30px 0;
    font-size: 0.9rem;
    line-height: 1.8;
    color: $gray-color;
  }

  .link {
    background-color: $orange-color;
    color: $white-color;
    padding: 10px 22px;
  }

  .checks {
    margin-bottom: 40px;

    .item {
      margin-bottom: 6px;
    }

    .check__icon {
      color: $orange-color;
      margin-right: 10px;
    }
  }
}

.section__story {
  position: relative;
  text-align: center;
  color: $white-color;

  .img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      color: $orange-color;
      font-size: 2rem;
    }

    .paragraph {
      margin: 30px auto;
      width: 600px;
      font-size: 0.9rem;
      line-height: 1.8;
    }
  }
}





.section__baked {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  height: 130px;

  background-color: $pale-black-color;
  color: $white-color;

  .title {
    letter-spacing: 1px;
  }

  .link {
    background-color: $orange-color;
    padding: 10px 24px;
    border-radius: 2px;
  }
}

.section__subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.subscription__wrapper {
  max-width: 500px;

  .title {
    text-align: center;
    font-size: 1.8rem;
  }

  .paragraph {
    margin: 20px 0;
    font-size: 0.9rem;
    text-align: center;
    color: $gray-color;
  }
}

.subscription__form {
  display: flex;
  justify-content: space-between;
  height: 36px;

  .input {
    width: 75%;
    padding: 0 10px;

    border: 3px solid $light-gray-color;
    outline: none;
  }

  .button {
    width: 20%;
    border: none;

    font-weight: 600;
    letter-spacing: 0.4px;

    color: $white-color;
    background-color: $orange-color;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 240px;
  padding: 40px;

  background-color: $orange-color;
  color: $white-color;

  .footer__list {
    margin: 26px 0;
    font-size: 2rem;
    justify-content: center;
  }

  .list {
    display: flex;
    gap: 2rem;
  }

  .copyright {
    font-weight: normal;
  }
}
