@import "../../assets/scss/variables.scss";

.header {
  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;

  .title > .title__orange {
    color: $orange-color;
  }
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;

  .header__img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
}

.header__article {
  width: 480px;

  .title {
    font-size: 2.4rem;
    word-spacing: 2px;
  }

  .paragraph {
    margin: 30px 0;
    color: $gray-color;
    line-height: 1.8;
  }

  .button {
    width: 145px;
    height: 40px;

    font-weight: bold;
    letter-spacing: 1px;

    border: none;
    border-radius: 2px;
  }

  .button.order {
    background-color: $orange-color;
    color: $white-color;
  }

  .button.more {
    margin-left: 30px;
    background-color: $white-color;
    box-shadow: 0px 0px 6px 0px $gray-color;
  }
}

.section__savings {
  display: flex;
  align-items: center;

  height: 130px;
  padding: 20px;

  background-color: $orange-color;
  color: $white-color;
}

.savings__list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 1000px;
}

.section__benefits {
  max-width: $primary-width;
  margin: 100px auto;

  .article__breakfast {
    margin-bottom: 100px;
  }
}

.benefits__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  position: relative;

  .breakfast {
    width: 620px;
    height: 350px;
    border-radius: 6px;
    object-fit: cover;
  }

  .burger {
    width: 630px;
    height: 620px;
    border-radius: 6px;
    object-fit: cover;
  }

  .tree__leaves {
    position: absolute;
    width: 300px;
    height: 340px;
    top: -240px;
    right: -60px;
  }
}

.benefits__aside {
  width: 400px;

  .paragraph {
    margin: 30px 0;
    font-size: 0.9rem;
    line-height: 1.8;
    color: $gray-color;
  }

  .link {
    background-color: $orange-color;
    color: $white-color;
    padding: 10px 22px;
  }

  .checks {
    margin-bottom: 40px;

    .item {
      margin-bottom: 6px;
    }

    .check__icon {
      color: $orange-color;
      margin-right: 10px;
    }
  }
}

.section__story {
  position: relative;
  text-align: center;
  color: $white-color;

  .img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      color: $orange-color;
      font-size: 2rem;
    }

    .paragraph {
      margin: 30px auto;
      width: 600px;
      font-size: 0.9rem;
      line-height: 1.8;
    }
  }
}

.section__foods {
  padding: 40px 0 80px;
}

.foods__article {
  text-align: center;
  max-width: 820px;
  margin: 40px auto 50px;

  .base__title {
    font-size: 2rem;
  }

  .summary {
    color: $gray-color;
    line-height: 1.6;
    margin: 20px 0;
  }
}

.foods__wrappers {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: $primary-width;

  .item {
    img {
      width: 330px;
      height: 220px;
      object-fit: cover;
      border-radius: 6px;
    }

    .title {
      margin: 20px 0 6px;
    }

    .time {
      color: $gray-color;
      font-weight: normal;
      margin-bottom: 20px;
    }

    .prices {
      margin-bottom: 20px;
    }

    .hr {
      border: none;
      height: 0.1rem;
      margin-bottom: 30px;
      background-color: $light-gray-color;
    }

    .order__link {
      border: none;
      padding: 12px;
      font-size: 0.8rem;

      background-color: $orange-color;
      color: $white-color;
    }
  }
}

.foods__prices {
  font-size: 1.2rem;

  .discount__price {
    margin-right: 10px;
    color: $orange-color;
  }

  .price__normal {
    position: relative;
    color: $gray-color;
  }

  .price__normal::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 0.1rem;
    background-color: $gray-color;

    top: 45%;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.section__testemonials {
  background-color: $orange-color;
  text-align: center;
  padding: 50px;

  .base__title {
    color: $white-color;
    font-size: 1.8rem;
  }
}

.testemonials__article {
  width: $primary-width;
  margin: 30px auto;
  padding: 40px;

  background-color: $white-color;
  border-radius: 6px;

  .opinion {
    max-width: 550px;
    margin: 30px auto;
  }

  .name {
    color: $orange-color;
  }
}

.testemonials__circles {
  color: $pale-white-color;

  .test__circle {
    cursor: pointer;
  }

  .test__circle:nth-child(2) {
    margin: 0 4px;
  }

  .dark {
    color: $white-color;
  }
}

.section__faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;

  .base__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 50px;
  }
}

.faq__wrapper {
  max-width: $primary-width;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 4rem;

  .title .tilde {
    color: $orange-color;
  }

  .paragraph {
    color: $gray-color;
    line-height: 1.6;
    margin-top: 10px;
  }
}

.section__baked {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  height: 160px;

  background-color: $pale-black-color;
  color: $white-color;

  .title {
    letter-spacing: 1px;
  }

  .link {
    background-color: $orange-color;
    padding: 10px 24px;
    border-radius: 2px;
  }
}

.section__subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.subscription__wrapper {
  max-width: 500px;

  .title {
    text-align: center;
    font-size: 1.8rem;
  }

  .paragraph {
    margin: 20px 0;
    font-size: 0.9rem;
    text-align: center;
    color: $gray-color;
  }
}

.subscription__form {
  display: flex;
  justify-content: space-between;
  height: 36px;

  .input {
    width: 75%;
    padding: 0 10px;

    border: 3px solid $light-gray-color;
    outline: none;
  }

  .button {
    width: 20%;
    border: none;

    font-weight: 600;
    letter-spacing: 0.4px;

    color: $white-color;
    background-color: $orange-color;
  }
}
