<header class="header">
  <nav class="header__navigation nav">
    <h2 class="header__title title">
      Food<span class="title__orange">Time</span>
    </h2>
    <ul class="header__list list">
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Home
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          About Us
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Explore Foods
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          Reviews
        </a>
      </li>
      <li class="header__list--item list__item item">
        <a class="list__item--link link" href="/#">
          FAQ
        </a>
      </li>
      <li class="header__list--item item__phone">
        1800 789 123
      </li>
    </ul>
  </nav>
  <section class="header__section">
    <article class="header__article article">
      <h1 class="header__section--title title">
        Order food from favourite restaurants near you.
      </h1>
      <p class="header__section--paragraph paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam et purus a odio finibus bibendum amet leo.
      </p>
      <button class="header__section--button button order">
        Order Now
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </button>
      <button class="header__section--button button more">
        Learn More
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </article>
    <img class="header__img" src="../../assets/images/main-dish.png" alt="Food Bowl" />
  </section>
</header>
