<footer class="footer">
  <section class="footer__section section">
    <nav class="footer__nav nav">
      <ul class="footer__nav--list list">
        <li class="footer__list--item item">
          <a routerLink="/">
            Forum
          </a>
        </li>
        <li class="footer__list--item item">
          <a routerLink="/">
            Affiliate
          </a>
        </li>
        <li class="footer__list--item item">
          <a routerLink="/about">
            About Us
          </a>
        </li>
        <li class="footer__list--item item">
          <a href="#faq">
            FAQ
          </a>
        </li>
      </ul>
    </nav>
    <ul class="footer__list list">
      <li class="footer__list--item item">
        <a routerLink="https://www.facebook.com/">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
      </li>
      <li class="footer__list--item item">
        <a routerLink="https://twitter.com/">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="footer__list--item item">
        <a routerLink="https://www.instagram.com/">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
    </ul>
    <h4 class="footer__copyright copyright">
      &copy; {{year}}. &nbsp; FoodTime. &nbsp; All rights reserved.
    </h4>
  </section>
</footer>
