<nav class="header__navigation nav">
  <h2 class="header__title title">
    Food<span class="title__orange">Time</span>
  </h2>
  <ul class="header__list list">
    <li class="header__list--item list__item item">
      <a class="list__item--link link" routerLink="/">
        Home
      </a>
    </li>
    <li class="header__list--item list__item item">
      <a class="list__item--link link" href="/#">
        About Us
      </a>
    </li>
    <li class="header__list--item list__item item">
      <a class="list__item--link link" routerLink="/auth/login">
        Login
      </a>
    </li>
    <li class="header__list--item list__item item">
      <a class="list__item--link link" href="/#">
        Explore Foods
      </a>
    </li>
    <li class="header__list--item list__item item">
      <a class="list__item--link link" href="/#">
        Reviews
      </a>
    </li>
    <li class="header__list--item list__item item">
      <a class="list__item--link link" href="/#">
        FAQ
      </a>
    </li>
    <li class="header__list--item item__phone">
      1800 789 123
    </li>
  </ul>
</nav>
