@import "../../../assets/scss/variables.scss";

.meal__main {
  margin: 40px;
}

.meal__main--wrapper {
  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;
}

.meal__section {
  display: flex;
  margin-bottom: 80px;

  .img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }

  .name {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .meal__info {
    position: relative;
    margin-left: 40px;
    font-size: 1.2rem;

    .prep {
      margin: 26px 0;
    }

    .ingredients {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 9;
      overflow: hidden;
      margin: 26px 0;
    }
  }
}

.meal__likes__price {
  position: absolute;
  display: flex;
  width: 100%;

  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: space-between;

  .button {
    font-size: 1.6rem;
    padding: 2px 12px;

    border: none;
    border-radius: 4px;
    color: $white-color;
  }

  .edit__button {
    background-color: $orange-color;
  }

  .delete__button {
    background-color: red;
  }

  .likes {
    color: $black-color;
  }
}

.meal__summary {
  text-indent: 1.4rem;
  line-height: 2;
  font-style: italic;
}

.section__reviews {
  margin-top: 60px;
}

.reviews__list {
  margin-top: 20px;
}

.reviews__list--item {
  margin-top: 20px;

  .article__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    .img__user {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .content {
    margin-left: 55px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-border-color;
  }
}

.review__form {
  display: flex;
  margin-top: 60px;

  .textarea {
    height: 50px;
    min-height: 50px;

    padding: 6px;
    font-size: 1rem;

    outline: none;
    resize: vertical;
    flex-basis: 75%;
  }

  .button__send {
    flex-basis: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    
    border: none;
    background-color: $orange-color;
    color: $white-color;
  }
}
