<main class="meal__main">
  <div class="meal__main--wrapper meal__wrapper wrapper">
    <section class="meal__section">
      <img src="{{meal.picture}}" alt="{{meal.name}}" class="meal__img img" />
      <article class=" meal__article--info meal__info">
        <h2 class="meal__name name">
          {{meal.name}}
        </h2>
        <p class="meal__paragraph--prep prep">
          <strong>Preparation time:</strong>
          &nbsp;
          <em>
            {{meal.preparationTime}}
          </em>
        </p>
        <p class="meal__paragraph--ingredients ingredients">
          <strong>Ingredients:</strong>
          &nbsp;
          <em>
            {{meal.ingredients}}
          </em>
        </p>
        <span class="meal__likes__price likes__price">
          <button class="meal__button--edit edit__button button" (click)="onEdit()">
            Edit
          </button>
          <button class="meal__button--delete delete__button button" (click)="onDelete()">
            Delete
          </button>
          <button class="meal__button--buy buy__button button">
            Buy
          </button>
          <button class="meal__title--likes likes button" (click)="onLikeMeal()">
            {{mealLikes}} likes
          </button>
          <h2 class="meal__title--price price">
            {{meal.price}} лв.
          </h2>
        </span>
      </article>
    </section>
    <summary class="meal__summary summary">
      {{meal.description}}
    </summary>
    <section class="meal__section--reviews section__reviews reviews">
      <h2 class="reviews__title title">
        Reviews
      </h2>
      <ul class="reviews__list">
        <li class="reviews__list--item review__item" *ngFor="let review of reviews">
          <article class="review__article--item article__item">
            <img class="review__img--user img__user" src="{{review.reviewOwner.picture}}"
              alt="{{review.reviewOwner.name}}" />
            <h4 class="review__list__item--creator item__creator creator">
              {{review.reviewOwner.name}}
            </h4>
          </article>
          <p class="review__list__paragraph--content paragraph__content content">
            {{review.description}}
          </p>
        </li>
      </ul>
      <form method="POST" class="review__form" #sendReview="ngForm" (ngSubmit)="onReview(sendReview)">
        <textarea type="text" name="description" placeholder="Enter your review here"
          class="review__form--textarea textarea" ngModel></textarea>
        <button class="review__button--send button__send">
          Send
        </button>
      </form>
    </section>
  </div>
</main>
