@import "./variables.scss";

.meals__list--item {
  margin: 20px 0;
  padding: 20px;

  line-height: 1.4;
  border-radius: 10px;
  border: 1px solid $gray-border-color;
  transition: all ease-in-out 0.3s;

  display: flex;
  gap: 2rem;

  .name {
    margin-bottom: 16px;
  }

  .ingredients,
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .ingredients {
    margin-bottom: 6px;
    padding-right: 40px;
  }

  .description {
    margin-top: 6px;
  }

  .price {
    margin: 12px 0 20px;
  }

  .link__details {
    background-color: $orange-color;
    color: $white-color;

    padding: 6px 16px;
    border-radius: 4px;

    &:hover {
      background-color: $brown-color;
    }
  }

  .img {
    width: 200px;
    height: 200px;

    border-radius: 6px;
    object-fit: cover;
  }

  &:hover {
    background-color: $light-gray-color;
  }
}

.meal__article--item {
  position: relative;
  flex-basis: 80%;

  .add {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    font-size: 2.2rem;
    cursor: pointer;

    border: none;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;

    background-color: $orange-color;
    color: $white-color;

    &:hover {
      background-color: $brown-color;

      &::before {
        content: "Buy";

        position: absolute;
        top: -40px;
        left: 0;

        padding: 4px 10px;
        font-size: 1.1rem;

        transform: translateX(-10%);
        background-color: $black-color;
        color: $white-color;

        opacity: 0.6;
        border-radius: 6px;
      }
    }
  }
}

@media only screen and (max-width: $small-device-width) {
  .main__city {
    margin: 40px 30px;
  }

  .meals__list--item {
    flex-direction: column;

    .meal__img.img {
      width: 100%;
    }
  }
}
