$primary-width: 1180px;

$pale-white-color: #ffffff7d;
$white-color: #ffffff;
$orange-color: #ff6a00;
$light-gray-color: #e5e5e3;
$gray-color: #555554;
$pale-black-color: #201c1b;
$black-color: #000000;
