$primary-width: 1180px;

$large-devices-width: 1200px;
$small-devices-width: 720px;
$smaller-devices-width: 400px;

$pale-white-color: #ffffff7d;
$white-color: #ffffff;
$brown-color: #892c05;
$orange-color: #ff6a00;
$light-gray-color: #e5e5e3;
$gray-border-color: #bcbcba;
$gray-color: #555554;
$pale-black-color: #201c1b;
$black-color: #000000;
