@import "../../../assets/scss/variables.scss";

.profile.main {
  margin: 40px;
}

.profile__section {
  max-width: $primary-width;
  margin: 0 auto;
  padding: 20px;
}

.section__meals--liked {
  margin: 100px 0;
}

.article__user {
  display: flex;
  margin: 40px 0 80px;

  .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .summary {
    width: 100%;
    padding-left: 50px;
  }

  .email {
    font-weight: 400;
    margin-top: 10px;
  }
}

@media only screen and (max-width: $small-device-width) {
  .profile__section {
    padding: 30px;
  }

  .article__user {
    flex-direction: column;

    .summary {
      margin: 20px 0;
      padding: 0;
    }
  }
}

@media only screen and (max-width: $smaller-device-width) {
  .article__user .summary {
    width: 200px;

    .email {
      overflow-wrap: break-word;
    }
  }
}
