@import "../../../assets/scss/variables.scss";

.profile__main {
  padding: 40px;
}

.profile__section {
  max-width: $primary-width;
  margin: 56px auto 0;
}

.section__meals--liked {
  margin: 100px 0;
}

.article__user {
  display: flex;
  margin: 40px 0 80px;

  .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .summary {
    width: 100%;
    padding-left: 50px;
  }

  .email {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .cart__link {
    background-color: $orange-color;
    color: $white-color;

    padding: 6px 20px;
    transition: all ease-in-out 0.2s;

    &:hover {
      background-color: $brown-color;
    }
  }
}

@media only screen and (max-width: $small-device-width) {
  .profile__section {
    padding: 20px;
  }

  .article__user {
    flex-direction: column;

    .summary {
      margin: 20px 0;
      padding: 0;
    }
  }
}

@media only screen and (max-width: $smaller-device-width) {
  .profile__main{
    padding: 15px;
  }

  .article__user .summary {
    width: 200px;

    .email {
      overflow-wrap: break-word;
    }
  }
}
