<main class="profile__main">
    <section class="profile__section">
        <article class="profile__article--user article__user">
            <img src="{{user.picture}}" alt="{{user.name}}" />
            <summary class="profile__summary summary">
                <h2 class="profile__title--name name">
                    {{user.name}}
                </h2>
                <h3 class="profile__title--email email">
                    {{user.email}}
                </h3>
            </summary>
        </article>
        <section class="profile__section--meals section__meals">

        </section>
    </section>
</main>
