@import "../../../../assets/scss/variables.scss";

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0;
    font-size: 1.8rem;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .list__item {
      color: $orange-color;
      font-weight: 500;
    }
  }
}

.item__phone {
  margin-left: 30px;
  padding: 10px 16px;

  background-color: $orange-color;
  color: $white-color;
}
