<main class="main__about">
  <section class="about__section">
    <article class="about__section--content about__content">
      <h2 class="about__section--title title">
        About us:
      </h2>
      <p class="about__section--info info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sapiente quia consectetur voluptatem, rem
        obcaecati illum reprehenderit quos incidunt facere in asperiores nemo ratione veniam laudantium impedit porro
        accusantium placeat.
        Ratione odio impedit minima, adipisci fugiat ipsum soluta accusamus. Corrupti consequuntur commodi, in eligendi
        numquam quae odit aliquam facilis iste, nobis, repellendus cupiditate eos!
      </p>
      <p class="about__section--info info">
        Facilis alias adipisci ea ipsam consequuntur laborum delectus? Incidunt qui voluptates distinctio dicta modi
        amet nesciunt sequi. Laborum nostrum aliquid, deleniti atque, quaerat qui laudantium, hic ducimus amet
        repellendus aut.
        Ea totam explicabo eaque quasi voluptate quisquam consequatur animi commodi a, illum ex optio ad ipsum natus et
        ducimus voluptas.
      </p>
    </article>
  </section>
</main>
