<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<main class="main__city" *ngIf="!isLoading">
  <section class="city__section">
    <article class="city__article">
      <img src="{{city.picture}}" alt="{{city.city}}" class="city__img img" />
      <h2 class="city__destination destination">
        {{city.city}}, {{city.country}}
      </h2>
    </article>
    <a routerLink="/cities/{{city._id}}/meals/create" class="city__link--create__meal link__create">
      Create Meal
    </a>
    <ul class="meals__slist--items list__items">
      <li class="meals__list--item list__item" *ngFor="let meal of meals">
        <article class="meal__article--item meal">
          <h3 class="meal__name name">
            {{meal.name}}
          </h3>
          <p class="meal__paragraph--ingredients ingredients">
            <strong>Ingredients:</strong> {{meal.ingredients}}
          </p>
          <time class="meal__time--prep prep">
            <strong>Preparation time:</strong> {{meal.preparationTime}}
          </time>
          <summary class="meal__paragraph--description description">
            <strong>Description:</strong> {{meal.description}}
          </summary>
          <p class="meal__paragraph--price price">
            <strong>
              {{meal.price}} лв.
            </strong>
          </p>
          <a routerLink="/cities/{{meal.cityId}}/meals/{{meal._id}}" class="meal__link--details link__details">
            Details
          </a>
          <button class="meal__button--add add" (click)="onBuy(meal._id, meal.cityId)">
            +
          </button>
        </article>
        <img class="meal__img img" src="{{meal.picture}}" alt="{{meal.name}}" />
      </li>
    </ul>
  </section>
</main>
