<form class="login__form form" method="POST" #signIn="ngForm" (ngSubmit)="onSubmit(signIn)">
  <legend class=" form__legend legend">
    Sign In
  </legend>
  <input type="text" name="email" class="form__input input" placeholder="johndoe@gmail.com" ngModel>
  <input type="password" name="password" class="form__input input password" placeholder="• • • • • • • •" ngModel>
  <button class="form__button auth__button">
    Sign In
  </button>
  <p class="account__paragraph">
    Don't have an account?
    <a routerLink="/auth/register" class="account__link--action link__action">
      Sign Up
    </a>
  </p>
</form>
