<form class="create__meal--form" method="POST" #createMeal="ngForm" (ngSubmit)="onSubmit(createMeal)">
  <legend class=" form__legend legend">
    Create Meal
  </legend>
  <input type="text" name="name" class="form__input input" placeholder="Caprese Salad" ngModel />
  <textarea type="text" name="ingredients" class="form__input input"
    placeholder="Mozzarella, basil, olive oil, peper, sea salt" ngModel></textarea>
  <input type="number" name="price" class="form__input input" placeholder="30" ngModel />
  <textarea type="text" name="description" class="form__input input" ngModel placeholder="{{dummyDescription}}">
  </textarea>
  <input type="text" name="preparationTime" class="form__input input" placeholder="10-15 minutes" ngModel />
  <ngx-dropzone class="ngx__dropzone--wrapper" (change)="onSelect($event)">
    <ngx-dropzone-label>Drop meal file here</ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
      (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>
  <button class="form__button auth__button">
    Create Meal
  </button>
</form>
