<form class="login__form form" method="POST">
  <legend class="form__legend legend">
    Sign In
  </legend>
  <label for="email" class="form__label label">
    Email
  </label>
  <input type="text" name="email" class="form__input input">
  <label for="password" class="form__label label password">
    Password
    <input type="password" name="password" class="form__input input password">
    <i class="fa-regular fa-eye"></i>
  </label>
  <button class="form__button auth__button">
    Sign In
  </button>
</form>
